{% extends 'base.html' %} {% block content %}

<h1>Flight Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ flight.airline }}</span>
        <p>Flight Number: {{ flight.number }}</p>
        {% if flight.duration > 1 %}
        <p>Duration: {{ flight.duration }} hours</p>
        {% else %}
        <p>Duration: Less than 1 hour</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'flights_update' flight.id %}">Edit</a>
        <a href="{% url 'flights_delete' flight.id %}">Delete</a>
    </div>
</div>

{% endblock %}